@page "/"
@page "/index"

<PageTitle> Index Home</PageTitle>

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
<h1>Test This is a Big Test</h1>
</div>

